<?xml version="1.0" encoding="UTF-8"?>
<server>
    <PORT_CHAMBRE>5056</PORT_CHAMBRE>
    <PORT_ACTIVITE>6000</PORT_ACTIVITE>
    <PORT_PAY>7000</PORT_PAY>
    <PORT_ADMIN>9000</PORT_ADMIN>
    <PORT_ADMINS>9010</PORT_ADMINS>
    <PORT_URGENCE>9001</PORT_URGENCE>
    <PORT_CARD>8000</PORT_CARD>
    <PORT_BANK>10000</PORT_BANK>
    <PORT_GROUPE>11000</PORT_GROUPE>
</server>